## Условие 1: 1 задача
- Скачать файл в уроке
- Считать данные с помощью pandas
- Вывести на экран первые 5 строк
- Посмотреть на описание признаков и на их содержание

In [1]:
import pandas as pd
df = pd.read_csv('kc_house_data.csv', sep=',', encoding ='cp1251', quoting=3)
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,"""7129300520","""""20141013T000000""""",221900.0,3,1.00,1180,5650,"""""1""""",0,0,...,7,1180,0,1955,0,"""""98178""""",47.5112,-122.257,1340,"5650"""
1,"""6414100192","""""20141209T000000""""",538000.0,3,2.25,2570,7242,"""""2""""",0,0,...,7,2170,400,1951,1991,"""""98125""""",47.7210,-122.319,1690,"7639"""
2,"""5631500400","""""20150225T000000""""",180000.0,2,1.00,770,10000,"""""1""""",0,0,...,6,770,0,1933,0,"""""98028""""",47.7379,-122.233,2720,"8062"""
3,"""2487200875","""""20141209T000000""""",604000.0,4,3.00,1960,5000,"""""1""""",0,0,...,7,1050,910,1965,0,"""""98136""""",47.5208,-122.393,1360,"5000"""
4,"""1954400510","""""20150218T000000""""",510000.0,3,2.00,1680,8080,"""""1""""",0,0,...,8,1680,0,1987,0,"""""98074""""",47.6168,-122.045,1800,"7503"""

- id
- date - дата
- price - цена	
- bedrooms - спальни	
- bathrooms - ванные
- sqft_living - жилая площадьв кв.футах 
- sqft_lot - общая площадь в кв. футах
- floors - количество этажей
- waterfront - набережная
- view - вид
- grade	- оценка
- sqft_above - с большой площадью	
- sqft_basement - наличие подвала	
- yr_built - дата постройки	
- yr_renovated - дата ремонта
- zipcode - почтовый индекс	
- lat - широта
- long - долгота	
- sqft_living15 
- sqft_lot15

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  object
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  object
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  object
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  object
dtypes: float64(4), int64(12), object(5)
memory usage: 3.5+ MB

## Условие 2: 2 задача
- Проведите первичный анализ данных
- Изучите типы данных
- Найдите количество пропущенных ячеек в данных
- Посчитайте основные статистики по всем признакам и поизучайте их
- Пишите выводы

In [8]:
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15
count,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,47.560053,-122.213896,1986.552492
std,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,0.138564,0.140828,685.391304
min,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,47.155900,-122.519000,399.000000
25%,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,47.471000,-122.328000,1490.000000
50%,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,47.571800,-122.230000,1840.000000
75%,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,47.678000,-122.125000,2360.000000
max,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,47.777600,-121.315000,6210.000000

In [4]:
df.describe(include='object')

                 id                 date floors    zipcode sqft_lot15
count         21613                21613  21613      21613      21613
unique        21436                  372      6         70       8689
top     "0795000620  ""20140623T000000""  ""1""  ""98103""      5000"
freq              3                  142  10680        602        427

In [6]:
df.isnull()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21609,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21610,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21611,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21612,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

## Условие 3: 3 задача

#### 3.1 В каком диапазоне изменяются стоимости недвижимости?

In [10]:
df['price'].min(), df['price'].max()

(75000.0, 7700000.0)

#### 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [11]:
df['sqft_living'].mean() / df['sqft_lot'].mean() * 100

13.76781757959227

#### 3.3 Как много домов с разными этажами в данных?

In [23]:
df['floors'] = df['floors'].str.replace('""', '')

In [24]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,"""7129300520","""""20141013T000000""""",221900.0,3,1.00,1180,5650,1,0,0,...,7,1180,0,1955,0,"""""98178""""",47.5112,-122.257,1340,"5650"""
1,"""6414100192","""""20141209T000000""""",538000.0,3,2.25,2570,7242,2,0,0,...,7,2170,400,1951,1991,"""""98125""""",47.7210,-122.319,1690,"7639"""
2,"""5631500400","""""20150225T000000""""",180000.0,2,1.00,770,10000,1,0,0,...,6,770,0,1933,0,"""""98028""""",47.7379,-122.233,2720,"8062"""
3,"""2487200875","""""20141209T000000""""",604000.0,4,3.00,1960,5000,1,0,0,...,7,1050,910,1965,0,"""""98136""""",47.5208,-122.393,1360,"5000"""
4,"""1954400510","""""20150218T000000""""",510000.0,3,2.00,1680,8080,1,0,0,...,8,1680,0,1987,0,"""""98074""""",47.6168,-122.045,1800,"7503"""

In [27]:
df['floors'] = df['floors'].astype('float64')

In [28]:
df['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

#### 3.4 Насколько хорошие состояния у домов в данных?

In [29]:
df['condition'].value_counts()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

#### 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [31]:
df['yr_built'].min(), df['yr_built'].max()

(1900, 2015)

## Условие 4: 4 задача

#### 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [36]:
df[df['bedrooms']==2]['price'].mean()

401372.681884058

#### 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [37]:
df[df['price']>600000]['sqft_lot'].mean()

20442.524776214832

#### 4.3 Как много домов коснулся ремонт?

In [38]:
df['yr_renovated'].value_counts()

0       20699
2014       91
2013       37
2003       36
2005       35
        ...
1951        1
1959        1
1948        1
1954        1
1944        1
Name: yr_renovated, Length: 70, dtype: int64

In [41]:
df[(df['yr_renovated'] != 0)].shape[0]

914

#### 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [43]:
pr_10 = df[df['grade'] > 10]['price'].mean()
pr_10

1678635.1175298805

In [44]:
pr_4 = df[df['grade'] < 4]['price'].mean()
pr_4

189750.0

In [45]:
pr_10 - pr_4

1488885.1175298805


## Условие 5: 5 задача

### 5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [48]:
df[
    (df['waterfront'] == 1) &
    (df['bathrooms'] > 3) &
    (df['sqft_basement'] != 0)
  ].shape[0]

36

### 5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, 
в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [62]:
pr = df[
    (df['view'] == 4) |
    (df['waterfront'] == 1) &
    (df['condition'] == 5) &
    (df['yr_built'] >= 1980)
  ]

In [63]:
pr['price'].min(), pr['price'].max()

(252000.0, 6885000.0)

### 5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [60]:
cl = df[
    (df['sqft_basement'] == 0) &
    (df['floors'] == 2) &
    (df['price'] < 150000) 
  ]

In [61]:
cl['condition'].mean()

2.8333333333333335